html{
    height: 100%;
}

body{
    position: relative;
    min-height: 100%;
    box-sizing: border-box;
    
}

body::after{
    background: url('images\\glacier.jpg');
    background-size: cover;
    content:"";
    position: absolute;
    opacity: 0.5;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
}

h1, h2, h3, h4, h5, h6{
    text-align: center;
}

p{
    margin-left: 5vw;
    margin-right: 5vw;
}

.write{
    display: block;
    text-align: center;
}


