html{
    height: 100%;
}

body{
    position: relative;
    min-height:100vh;
    box-sizing: border-box;
    font-family: 'Special Elite';
}

body::after{
    background: url('images\\glacier.jpg');
    background-size: cover;
    content:"";
    position: absolute;
    opacity: 0.6;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
}

.introContainer{
    width: 90%;
    position: relative;
    margin: auto;
}

.introContainer p {
    text-align: justify;
}

.animP{
    animation-name: animP;
    animation-duration: 2s;
}

.photo{
    animation-name: photo;
    animation-duration: 3s;
    position : relative;
    overflow: hidden;
    float: left;
    width:150px;
    height: 150px;
    border-radius: 50%;
    margin:15px;
    shape-outside: circle();
}

h1{
    animation-name: hun;
    animation-duration: 3s;
    position : relative;
}

@keyframes photo{
    0% {left:-1000px}
    30%{left : 100px}
    100% {left:0px}
}

@keyframes hun{
    0% {top:-1000px}
    30%{top : 100px}
    100% {top:0px}
}

@keyframes animP {
    0%{
      margin-left: 100%;
      width: 200%;
    }
  
    100% {
      margin-left: 0%;
      width: 100%;
    }
  }

.card-body{
    background-image: url("images\\parchemin.jpg") !important;
    box-shadow: 7px 10px 4px rgb(109, 108, 108) !important;
}

.btnBleu{
  background: linear-gradient(180deg, #0d6efd 50%, #0d51b8 50%);
  border-radius: 10px;
  box-shadow: 4px 4px 4px #0d51b8;
  border-bottom:1px solid #0d6efd;
  border-top:1px solid #000000;
  text-shadow: rgb(0, 0, 0) 2px 2px;
}

.btnBleu:hover{
  background: linear-gradient(180deg, #0d51b8 50%, #0d6efd 50%);
  border-radius: 10px;
  box-shadow: 4px 4px 4px #0d6efd;
  border-bottom:1px solid #000000;
  text-shadow: rgb(0, 0, 0) 2px 2px;
}

.btnRouge{
    background: linear-gradient(180deg, #f50b3d 50%, #fa476e 50%);
    border-radius: 10px;
    box-shadow: 4px 4px 4px #fa476e;
    border-bottom:1px solid #f50b3d;
    border-top:1px solid #000000;
    text-shadow: rgb(0, 0, 0) 2px 2px;
  }
  
.btnRouge:hover{
    background: linear-gradient(180deg, #fa476e 50%, #f50b3d 50%);
    border-radius: 10px;
    box-shadow: 4px 4px 4px #f50b3d;
    border-bottom:1px solid #000000;
    text-shadow: rgb(0, 0, 0) 2px 2px;
}

.btnJaune{
    background: linear-gradient(180deg, #fdaa0f 50%, #e98310 50%);
    border-radius: 10px;
    box-shadow: 4px 4px 4px #e98310;
    border-top:1px solid #000000;
    text-shadow: rgb(252, 62, 4) 2px 2px;
}
  
.btnJaune:hover{
    background: linear-gradient(180deg, #e98310 50%, #fdaa0f 50%);
    border-radius: 10px;
    box-shadow: 4px 4px 4px #fd460f;
    border-bottom:1px solid #000000;
    text-shadow: rgb(252, 62, 4) 2px 2px;
}

.btnVert{
    background: linear-gradient(180deg, #54d38d 50%, #45ad74 50%);
    border-radius: 10px;
    box-shadow: 4px 4px 4px #45ad74;
    border-bottom:1px solid #54d38d;
    border-right:2px solid #54d38d;
    border-top:1px solid #000000;
    text-shadow: rgb(0, 0, 0) 2px 2px;
}
  
.btnVert:hover{
    background: linear-gradient(180deg, #45ad74 50%, #54d38d 50%);
    border-radius: 10px;
    box-shadow: 4px 4px 4px #54d38d;
    border-top:1px solid #54d38d;
    border-bottom:1px solid #000000;
    text-shadow: rgb(0, 0, 0) 2px 2px;
}

.btnBlanc{
    background: linear-gradient(180deg, #fbfbfb 50%, #d8d8d8 50%);
    border-radius: 10px;
    box-shadow: 4px 4px 4px #d8d8d8;
    border-bottom:1px solid #858484;
    border-right:2px solid #858484;
    border-top:1px solid #000000;
    text-shadow: rgb(187, 187, 187) 2px 2px;
}
  
.btnBlanc:hover{
    background: linear-gradient(180deg, #d8d8d8 50%, #fbfbfb 50%);
    border-radius: 10px;
    box-shadow: 4px 4px 4px #cecdcd;
    border-top:1px solid #858484;
    border-left: 1px solid #858484;
    border-bottom:1px solid #000000;
    text-shadow: rgb(144, 144, 144) 2px 2px;
}

.intro{
    color:#384454;
    font-weight: 500;
}

h1, h2, h3, h4, h5, h6{
    text-align: center;
}

p{
    margin-left: 3vw;
    margin-right: 3vw;
}

.disconnect{
    color:yellow !important;
    font-weight: 500;
}

.disconnect:hover{
    color: rgb(255, 196, 0) !important;
    font-weight: 600;
}

.text-white:hover{
    color :rgba(255, 255, 255, 0.911) ;
    font-weight: 500;
}

.hr{
    display: block;
    width:50%;
    margin:auto;
    border: 1px solid #384454;
} 

.tableau{
    width: 70%;
}

ul a:hover {
    text-decoration: underline;
}


/* 
---------------------------------------Media queries ecran < 800------------------------------
*/


