html{
    height: 100%;
}

body{
    position: relative;
    min-height:100vh;
    box-sizing: border-box;
    font-family: 'Special Elite';
}

body::after{
    background: url('images\\glacier.jpg');
    background-size: cover;
    content:"";
    position: absolute;
    opacity: 0.6;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
}

.introContainer{
    width: 90%;
    position: relative;
    margin: auto;
}

.introContainer p {
    text-align: justify;
}

.animP{
    animation-name: animP;
    animation-duration: 3s;
    position:relative;
}

.photo{
    animation-name: photo;
    animation-duration: 3s;
    position : relative;
    overflow: hidden;
    float: left;
    width:150px;
    height: 150px;
    border-radius: 50%;
    margin:15px;
    shape-outside: circle();
}

header{
    z-index: 1;
}

h1{
    animation-name: hun;
    animation-duration: 3s;
    position : relative;
    z-index: 0;
}

@keyframes photo{
    0% {left:-1000px}
    100% {left:0px}
}

@keyframes hun{
    0% {top:-200px}
    25%{top: -150}
    50%{top: -100}
    75%{top: -50}
    100% {top:0px}
}

@keyframes animP {
    0% {right:-1500px}
    100% {right:0px}
}

.card-body{
    background-image: url("images\\parchemin.jpg") !important;
    box-shadow: 7px 10px 4px rgb(109, 108, 108) !important;
    transition:0.4s;
}

.card-body:hover{
    box-shadow: none !important;
}

.btn{
    margin-bottom: 1em;
}

.btnBleu{
  background: linear-gradient(180deg, #0d51b8 30%, #0d6efd 70%);
  border-radius: 10px;
  border-bottom:4px solid #0a316b;
  text-shadow: rgb(0, 0, 0) 2px 2px;
  box-shadow: 4px 4px 6px #093a83;
  transition: 0.4s;
}

.btnBleu:hover{
  background: linear-gradient(180deg, #0d51b8 30%, #0d6efd 70%);
  border-radius: 10px;
  border-bottom:4px solid #0a316b;
  text-shadow: rgb(0, 0, 0) 2px 2px;
  box-shadow:none;
}

.badge{
    box-shadow: 4px 4px 6px #a33049;
    border-bottom:4px solid #c00931;
    text-shadow: rgb(0, 0, 0) 2px 2px;
}

.btnRouge{
    background: linear-gradient(180deg, #fa476e 30%, #f50b3d 70%);
    border-radius: 10px;
    box-shadow: 4px 4px 6px #a33049;
    border-bottom:4px solid #c00931;
    text-shadow: rgb(0, 0, 0) 2px 2px;
    transition: 0.4s;
  }
  
.btnRouge:hover{
    background: linear-gradient(180deg, #fa476e 30%, #f50b3d 70%);
    border-radius: 10px;
    box-shadow: none;
    border-bottom:4px solid #c00931;
    text-shadow: rgb(0, 0, 0) 2px 2px;
}

.btnJaune{
    background: linear-gradient(180deg, #e98310 30%, #fdaa0f 70%);
    border-radius: 10px;
    box-shadow: 4px 4px 6px #99570b;
    border-bottom:4px solid #db7d10;
    text-shadow: rgb(218, 54, 4) 2px 2px;
    transition: 0.4s;
}
  
.btnJaune:hover{
    background: linear-gradient(180deg, #e98310 30%, #fdaa0f 70%);
    border-radius: 10px;
    box-shadow: none;
    border-bottom:4px solid #db7d10;;
    text-shadow: rgb(252, 62, 4) 2px 2px;
}

.btnVert{
    background: linear-gradient(180deg, #54d38d 30%, #45ad74 70%);
    border-radius: 10px;
    box-shadow: 4px 4px 6px #1d4730 !important;
    border-bottom:4px solid #1d4730;
    text-shadow: rgb(0, 0, 0) 2px 2px;
    transition: 0.4s;
}
  
.btnVert:hover{
    background: linear-gradient(180deg, #54d38d 30%, #45ad74 70%);
    border-radius: 10px;
    box-shadow: none !important;
    border-bottom:4px solid #1d4730;
    text-shadow: rgb(0, 0, 0) 2px 2px;
}

.btnBlanc{
    background: linear-gradient(180deg, #d8d8d8 30%, #fbfbfb 70%);
    border-radius: 10px;
    box-shadow: 4px 4px 6px #7a7a7a;
    border-bottom:4px solid #747373;
    border-right:2px solid #858484;
    text-shadow: rgb(187, 187, 187) 2px 2px;
}
  
.btnBlanc:hover{
    background: linear-gradient(180deg, #d8d8d8 30%, #fbfbfb 70%);
    border-radius: 10px;
    box-shadow: none;
    border-bottom:4px solid #747373;
    border-right:2px solid #858484;
    text-shadow: rgb(187, 187, 187) 2px 2px;
}

.intro{
    color:#384454;
    font-weight: 500;
}

h1, h2, h3, h4, h5, h6{
    text-align: center;
}

p{
    margin-left: 3vw;
    margin-right: 3vw;
}

.disconnect{
    color:yellow !important;
    font-weight: 500;
}

.disconnect:hover{
    color: rgb(255, 196, 0) !important;
    font-weight: 600;
}

.text-white:hover{
    color :rgba(255, 255, 255, 0.911) ;
    font-weight: 500;
}

.hr{
    display: block;
    width:50%;
    margin:auto;
    border: 1px solid #384454;
} 

.tableau{
    width: 70%;
}

ul a:hover {
    text-decoration: underline;
}

.formBg{
    background-color: transparent;
    border:none;
}

.formBox{
    border-radius: 10px;
}

.linkArticle{
    text-decoration: none;
}

.linkArticle:hover{
    text-decoration: underline;
    text-shadow: rgb(63, 62, 62) 0.5px 0.5px !important;
}

.selectMd{
    width: 40%;
}

.titreAccueil{
    font-size: 30px;

}


/* ici je centre horizontalement tous les placeholders dans les navigateurs qui le permettent*/
::-webkit-input-placeholder {
    text-align: center;
 }
 
 :-moz-placeholder { /* Firefox 18- */
    text-align: center;  
 }
 
 ::-moz-placeholder {  /* Firefox 19+ */
    text-align: center;  
 }
 
 :-ms-input-placeholder {  
    text-align: center; 
 }
/*------------------------------------------------------------------------------------------------*/

/* 
---------------------------------------Media queries ecran < 750------------------------------
*/
@media (max-width: 750px) {
    .selectMd{
        width: 80%;
    }

    .titreAccueil{
        font-size: 18px;
    
    }
}

